.product-card{
    display: flex;
    flex-direction: column-reverse;
    height: 430px;
    width: 240px;
    background: white;
    border: 1px solid  #eee;
}

.product-card .thumbnail{
    height: 320px;
    background: rebeccapurple;
}

.product-card .thumbnail img{
    max-height: 100%;
}

.product-card .name-price{
    margin-top: 0;
    /* background: rebeccapurple; */
    height: 100px;
    flex-direction: column;
    padding-bottom: 10px;
}
.product-card .name-price p{
   font-size: 12px;
}

.product-card .name-price h6{
    margin-top: -10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-left: -10px;
    
}