.product-card{
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 240px;
    background: white;
    overflow: hidden;
    border: 1px solid  #eee;
    text-decoration: none;
    color: black;
}

.product-card .thumbnail{
    height: 320px;
  
}

.product-card .thumbnail img{
    max-height: 100%;
}

.product-card .name-price{
    margin-top: 0;
    /* background: rebeccapurple; */
    height: 100px;
    flex-direction: column;
    padding-bottom: 10px;
}
.product-card .name-price p{
    margin-left: 10px;
}

.product-card .name-price h6{
    margin-top: -10px;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    
}