.product-card{
    height: 400px;
    width: 270px;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.product-card .thumbnail{
    height: 60%;
}

.product-card .thumbnail img{
    max-height: 100%;
    max-width: 100%;
}

.product-card h4{
    color: #6c757d;
    font-weight: 600;
}

.product-card .name-price{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 8px;
    border-top: 1px solid #eee;
}

.product-card .name-price p{
    font-weight: 800;
    font-size: 16px;
    margin-top: 0px;
    color: #495057;
}