button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.Product-Detail{
    background: white;
    padding: 20px 10px 10px 0px;
    display: flex;
    width: 99%;
}

.Product-Detail .info .seperator{
    background: #ddd;
    width: 100%;
    margin-top: -10px;
    height: 0.5px;
}
.Product-Detail .info{
    /* flex-basis: 45%; */
    display: flex;
    max-width: 50%;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    /* background-color: rebeccapurple; */
}

.Product-Detail .image-slider{
    /* flex-basis: 55%; */
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 0px 20px;
    /* background-color: red; */
}

.Product-Detail .image-slider .display-image-holder{
    margin: 5px 5px;
    overflow: hidden;
    width: 23vw;
}
.Product-Detail .image-slider img{
    transition: 0.3s ease-in-out;
    max-height: 100%;
    max-width: 100%;
    
  
}


.Product-Detail .image-slider img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
    
}


.Product-Detail .info h2{
    font-size: 25px;
    display: block;
    width: 100%;
    text-align: justify;
    font-weight: 600;
    opacity: .9;
    color: #495057;
    margin-top: 5px;
}

.Product-Detail .info .quantity p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
.Product-Detail .info .taxes{
    margin-top: -12px;
    font-weight: 700;
    font-size: 14px;
    color: rgb(3, 166, 133);
}
.Product-Detail .info .price{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.Product-Detail .info .sizes{
    margin-top: 20px;
}

.Product-Detail .info .sizes .size-holder{
    display: flex;

}

.Product-Detail .info .sizes .size-holder .size-val{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.1s ease;
}

.size-val-selected{
    border: 1px solid #f94144 !important;
    color: #f94144;
}
.Product-Detail .info .sizes .size-holder .size-val:hover{
    border: 1px solid #f94144;
}
.Product-Detail .info .sizes p{
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
}

.Product-Detail .info .description{
    text-align: justify;
    font-size: 16px;
    color: #6c757d;
    margin-top: 0;
} 

.Product-Detail .info .list-text li{
    list-style: none;
    margin: 5px 0px;
    color: #495057;
    font-weight: 400 ;
}

.Product-Detail .info .brand{
    margin-top: 5px ;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px 10px;
    width: 97%;
    text-align: left;
    font-weight: 600;
}

.Product-Detail .info .colors{
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px 10px;
    width: 97%;
    text-align: left;
    margin-top: -15px;
    font-weight: 600;
}

.Product-Detail .info .buttons {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.Product-Detail .info .buttons .BuyNow{
    background: #0466c8;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
}

.Product-Detail .info .buttons .Add-to-cart{
    color: #0466c8;
    border: 2px solid #0466c8;
    padding: 9px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 10px;
 
}