.Navbar{
    background: white;
    height: 8vh;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    z-index: 20;
}

.Navbar{
    box-shadow: 2px 1px 5px #ddd;
}

.Navbar .logo-holder{
    overflow: hidden;
    height: 8vh;
    margin-left: 50px;
}

.Navbar .search button{
    background: #0466c8;
    color: white;
    padding: 10px 10px;
    margin-left: 2px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
}

.Navbar .search input{
    padding: 10px 20px;
    width:400px;
    border: 1.5px solid #bbb;
    border-radius: 5px;
    outline: none;

}
.Navbar .logo-holder img{
    max-height: 100%;
    max-width: 100%;
}
button{
    outline: none;
}
.Navbar .sign-in{
    background: #0466c8;
    color: white !important;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 40px;
    text-decoration: none;
}
.Navbar .Avatar-cart-holder{
    display: flex;
    /* background-color: rebeccapurple; */
    justify-content: center;
    align-items: center;
}

.Navbar .my-cart{
    padding: 9px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.Navbar .my-cart span{
    background: #f48c06;
    padding: 5px 8px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}